.home{
  
}

.home-title{
  font-size: 1.5rem;
}

.home-test{
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1rem 0;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  cursor: pointer;
}