.navbar{
  background-color: steelblue;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
  border-radius: 4px 4px 0 0;
}

.navbar-inner{
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  height: 3rem;
}

.logo{
  margin-top: 5px;
  height: 20px;
}

.navbar-innerright{
  display: flex;
  align-items: center;

}

.navbar-signout{
  margin-left: 1rem;
  background-color: firebrick;
  cursor: pointer;
  padding: .5rem;
  border-radius: 12px;
}