.test{
  display: flex;
}

.nav-header{
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.test-nav{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  width: 200px;
  height: 200px;
}

.nav-left{
  margin-right: 7rem;
}

.answered-nav-button{
  width: 30px;
  height: 30px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.active-nav-button{
  width: 30px;
  height: 30px;
  color: white;
  background-color: #0082ef;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.nav-button{
  width: 30px;
  height: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid black;
  cursor: pointer;
}

.test-next{
  width: 170px;
  height: 85px;
  background-color: #0082ef;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 7rem;
  margin-top: 32rem;
  padding: 2rem;
  text-align: center;
  user-select: none;
}

.next-modal{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.next-modalcontent{
  position: relative;
  width: 600px;
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  flex-direction: column;

}

.next-modalexit{
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: 2rem;
  cursor: pointer;
}

.next-modaltext{
  font-size: 1.25rem;
  padding: .5rem 0 2rem 0;
}

.next-modalbutton{
  background-color: #0082ef;
  color: white;
  text-align: center;
  border-radius: 12px;
  padding: .9rem;
  cursor: pointer;
}